@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.routine__description2{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: $color-white-1;
    padding: 0 7rem * 1.5;
    padding-bottom: 5rem * 1.5;
    transition: background-color 1s;
    @media (max-width: 760px) {
        flex-direction: column;
    }
    &__coins,&__inspired{
        width: 50%;
        text-align: center;
        @media (max-width: 760px) {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        svg{
            width: 80% - 12%;
            height: auto;
            @media (max-width: 760px) {
                height: 360px;
                width: 100%;
            }
        }
    }

    &__coins--titre{
        @include description-title;
        
    }
    &__inspired--titre{
        @include description-title;
    }

    &__inspired--description, &__coins--description{
        text-align: center;
        display: inline-block;
        width: 80%;
        font-size: 2.5rem;
        transition: color 1s;
        @media (max-width: 760px) {
            width: 90%;
            text-align: justify;
        }
    }
}

#light .routine__description2{
    background-color: $color-white-1;
    &__coins--titre{
        @include description-title-light;
        
    }
    &__inspired--titre{
        @include description-title-light;
    }
}

#dark .routine__description2{
    background-color: $color-dark-mode-primary;
    &__coins--titre{
        @include description-title-dark;
    }
    &__inspired--titre{
        @include description-title-dark;
    }
    &__inspired--description, &__coins--description{
        color: $color-white-1;
    }
}