@import '../../../style/variables.scss';
.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black-1;
    .game-draw{
        width: 35%;
        @media (max-width: 1024px) {
            display: none;
            width: 0%;
        }
    }
    .introduction-text{
        padding-top: 5rem * 1.5;
        padding-left: 2.5rem * 1.5;
        width: 50%;
        font-family: 'Quicksand', sans-serif;
        font-size: 3rem * 1.5;
        position: relative;
        padding-right: 3.75rem;
        @media (max-width: 1280px) {
            padding-right: 3rem;
        }
        @media (max-width: 1024px) {
            padding-top: 20rem;
            width: 70% !important;
        }
        @media (max-width: 760px) {
            width: 90% !important;
        }
        
        
        h1{
            position: relative;

            &:hover #gaming-console-clipart{
                opacity: 1;
                visibility: visible;
            }
            #gaming-console-clipart{
                z-index: -1;
                position: absolute;
                width: 8.5rem * 1.5;
                top: 9rem;
                left: 4.5rem * 1.5;
                transition: all 1s;

            }
            

            #sheet-clipart{
                z-index: -1;
                position: absolute;
                width: 8.5rem * 1.5;
                top: -4.2rem * 1.5;
                left: 24.4rem * 1.5;
                .cls-1{
                    fill:#009145;
                }
                .cls-2{
                    fill:#def0e7;
                }
                .cls-3{
                    fill:#cfeadc;
                }
                .cls-4{
                    fill:#98d2b4;
                }

            }
        }
        
        .quote{
            font-family: Imprima , sans-serif;
            text-align: justify;
            color: $color-black-1;
            font-size: 2.3rem * 1.5;
            padding-left: 14rem * 1.5;
            transition: color 1s;
        }
        .quoter{
            display: block;
            color: $color-quoter;
            font-size: 1.3rem * 1.5;
            text-align: end;
            margin-bottom: 2rem * 1.5;
            transition: color 1s;
        }
    }
}

#light .titre{
    color: $color-black-1;
    .introduction-text{   
       .quote{
            color: $color-black-1;
        }
        .quoter{
            color: $color-quoter;
        }
    }
}

#dark .titre{
    color: $color-white-1;
    .introduction-text{   
       .quote{
            color: $color-white-1;
        }
        .quoter{
            color: $color-white-1;
        }
    }
}