@import '../../../style/variables.scss';

.header{
    width: 100vw;
    height: $height-section;
    background-color: $color-primary;
    position: relative;
    z-index: 1;
    color: $color-black-1;
    transition: all 1s;
    .background-white{
        position: absolute;
        width: 100vw;
        height: $height-section;
        clip-path: ellipse(50% 50% at 50% 50%);
        background-color: $color-white-1;
        z-index: -1;
        transition: inherit;
    }
    .triangle-white{
        position: absolute;
        width: 50vw;
        height: $height-section / 2;
        background-color: $color-white-1;
        z-index: -1;
        transition: inherit;
    }
    .triangle-up-right{
        top: 0;
        right: 0;
    }

    .triangle-buttom-left{
        bottom: 0;

    }
    .introduction-text{
        width: 50%;
    }
    
}

#light .header{
    background-color: $color-primary;
    color: $color-black-1;
    .background-white, & .triangle-white{
        background-color: $color-white-1;
    }
}

#dark .header{
    background-color: $color-primary;
    color: $color-white-1;
    .background-white, & .triangle-white{
        background-color: $color-dark-mode-primary;
    }
}