@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";



.game__field--header {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    // color: inherit;
    // color: $color-black-2;
    background-color: inherit;


   
    .user-informations-bar {

        display: flex;
        justify-content: space-between;
        width: 100%;

        .tree-lines {
            width: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .line- {
                &one {
                    border-radius: 1000px;
                    height: 20%;
                    width: 100%;
                    background: linear-gradient(to right, $color-primary, $color-primary-dark);
                }

                &two {
                    border-radius: 1000px;
                    height: 20%;
                    width: 70%;
                    background: linear-gradient(to right, $color-primary, $color-primary-dark);
                }

                &three {
                    border-radius: 1000px;
                    height: 20%;
                    width: 40%;
                    background: linear-gradient(to right, $color-primary, $color-primary-dark);
                }
            }
        }

        .username-and-rate {
            display: flex;

            .rate {
                display: flex;
                height: 100%;
                padding-right: 2rem;
                border-right: 1px solid $color-white-2;
                align-items: center;
                .et {
                    line-height: 0%;
                    font-size: 4rem;
                }
                .checked {
                    color: $color-secondary;
                }
            }

            .username {
                padding-left: 2rem;
            }
        }
    }

    .updating-informations {
        padding: 2rem 0rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .notification-routine {
            position: relative;
            .notfication {
                position: absolute;
                top: 0rem;
                border-radius: 100rem;
                padding: .3rem .7rem;
                font-size: 1.7rem;
                color: $color-white-1;
                background-color: $color-quaternary-1;
            }
        }

        .prices-and-xps {
            display: flex;
            @media (max-width: 768px) {
                margin-right: 15rem;
            }
            .xp {
                display: inline;
                margin-right: 2rem;
                padding: 1rem 3rem;
                background-color: $color-tertiary;
                border-radius: 1rem;
                
            }

            .coins {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 3rem;
                background-color: $color-secondary;
                border-radius: 1rem;
                line-height: 100%;
                svg {
                    height: 3rem;
                    width: 3rem;
                    display: inline;
                    fill: $color-black-2;
                    margin: 0px;
                }
            }
        }
    }

    .filter-and-adding-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1s solid black;

        .filter {
            position: relative;
            border-bottom: .5px solid rgba($color-black-2, .5);
            padding-bottom: 1.8rem;
            input[type="radio"]{
                display: none;
                &:checked + .filter-item{
                    color: $color-primary;
                }
                &:nth-of-type(2):checked ~ .selector {
                    transform: translateX(45%);
                    width: 20rem;
                }
                &:nth-of-type(3):checked ~ .selector {
                    transform: translateX(175%);
                    width:16.5rem;
                }
                &:nth-of-type(4):checked ~ .selector {
                    transform: translateX(220%);
                    width: 21rem;
                }
            }
            .filter-item {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                .tag {
                    font-size: 1.7rem;
                    background-color: $color-white-1;
                    padding: 1px 1rem;
                    margin: 0 8px;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.383);
                    width: 3.9rem;
                    text-align: center;
                }
            }

            .selector{
                z-index: 10;
                position: absolute;
                left: -1px;
                bottom: -.5px;
                width: 9rem;
                height: 3px;
                border-radius: 100px;
                background-color: $color-primary;
                transition: all .5s;
            }
        }

        button {
            cursor: pointer;
            font-size: 2.5rem;
            font-family: inherit;
            font-weight: inherit;
            padding: 1rem 2rem;
            border: 0px;
            border-radius: 1000rem;
            background-color: $color-tertiary-1;
            color: $color-white-1;
        }
    }
}