@import './variables.scss';

@mixin description-title{
    color: $color-quoter;
    font-size: 3.1rem * 1.5;
    font-weight: 600;
    transition: color 1s;
}

@mixin description-title-light {
    @include description-title;
    color: $color-quoter;
}

@mixin description-title-dark {
    @include description-title;
    color: $color-white-1;
}

@mixin clear-input-styles{
    background-color: transparent;
                border: none;
                &:focus{
                    border: none;
                    outline: none;
                }
}

@mixin transition-for-dark-mode{
    transition: color 1s;
    transition: background-color 1s;
}

@mixin scale-routine{
    :root{
        --scale: 1;
        @media (max-width: 562px) {
          --scale: 1.4;
      }
      }
}