@import './variables.scss';

@mixin description-titre{
    color: $color-quoter;
    font-size: 3.1rem * 1.5;
    font-weight: 600;
}

@mixin clear-input-styles{
    background-color: transparent;
                border: none;
                &:focus{
                    border: none;
                    outline: none;
                }
}

@mixin scale-routine{
    :root{
        --scale: 1;
        @media (max-width: 562px) {
          --scale: 1.4;
      }
      }
}