$color-primary: #009245;
$color-secondary: #FDC830;
$color-tertiary: #43BEED;
$color-quaternary: #E7503B;

$color-primary-dark: #00602d;
$color-primary-1: #008A41;

$color-tertiary-1: #1B9DCF;
$color-quaternary-1: #EA3117;

$color-quoter: #3F3D56;
$color-white-1: #FAFAFA;
$color-white-2: #dbdbdb;

$color-dark-mode-primary: #1F253D;
$color-dark-mode-secondary: #3F3D56;

$color-black-1: #383838;
$color-black-2: #525252;

$height-section: 80rem;

$--orange:#fd7e14;