$color-primary: #009245;
$color-secondary: #FDC830;
$color-tertiary: #43BEED;
$color-quaternary: #E7503B;

$color-primary-dark: #00602d;
$color-primary-1: #008A41;

$color-quoter: #3F3D56;
$color-white-1: #FAFAFA;

$color-black-1: #383838;

$height-section: 50rem;