@import '../style/variables.scss';

.navigation-bar{
    position: absolute;
    right: -5rem;
    top: 2rem;
    width: 10rem;
    height: 20rem;
    padding: 50px 10px;
    background-color: $color-thirdly;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        display: inline-block;
        
    }
}