@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.complate__routine{
    background-color: $color-white-1;
    display: flex;
    padding: 4rem * 1.5 7rem * 1.5;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1s;
    @media (max-width: 760px) {
        flex-direction: column;
    }
    &-description{
        width: 45%;
        margin-top: -6rem * 1.5;
        @media (max-width: 760px) {
            margin-top: 0px;
            width: 100%;
            padding-right: 0px;
        }
        .description-titre{
            @include description-title;
        }
        .description-paragraphe{
            width: 80%;
            text-align: justify;
            color: $color-quoter;
            font-size: 2.5rem;
            transition: color 1s;
            @media (max-width: 760px) {
                width: 90%;
            }
        }
    }

    &-undraw{
        width: 50%;
        @media (max-width: 760px) {
            height: 360px;
            width: 100%;
        }
    }
}


#light .complate__routine{
    background-color: $color-white-1;
    &-description{
        .description-titre{
            @include description-title-light;
        }
        .description-paragraphe{
            color: $color-quoter;
        }
    }
}

#dark .complate__routine{
    background-color: $color-dark-mode-primary;
    &-description{
        .description-titre{
            @include description-title-dark;
        }
        .description-paragraphe{
            color: $color-white-1;
        }
    }
}