@import '../../style/variables.scss';

$width-navigation: 15rem;
$height-navigation: 32rem;

.navigation-bar{
    z-index: 1000;
    position: fixed;
    width: $width-navigation;
    right: -$width-navigation / 2;
    top: $width-navigation / 2;
    height: $height-navigation;
    padding: 25px 10px;
    background-color: $color-secondary;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .icon{
        display: inline-block;
        padding: 5px 0px;
        margin-right: auto;
        .cls-1{
            fill: $color-white-1;
        }
        &:hover{
            cursor: pointer;
        }
    }
}